body {
    background-color: rgba(128, 128, 128, 0.075);
}

.contato {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.custom-bg {
    background-color: #f8f9fa;
    padding: 20px; 
    border-radius: 10px; 
}